@media screen and (max-device-width: 900px) {
		.is-mobile {display: block;}
		.no-mobile {display: none;}
		nav {font: 4vw Comic Sans MS;}
		#homemain {
			display: block;
			margin: 5% 5%;
		}
		article {width: 90%;}
		aside {display: none;}
		#intro {
			font: 2.3vw Comic Sans MS;
			font-weight: bold;
		}
		.main {font: 1.8vw Comic Sans MS;}
		table td {
			font: 2.7vw Comic Sans MS;
			padding: none;
		}	
}
